@import "header.css";
@import "footer.css";
body{
    margin: 1px;
}
.rounded {
    border-radius: 10px;
}
.container {
    width: max(100% - 15px, 1024px);
    margin-inline: auto;
    font-family: "Square", sans-serif;
    font-size: 20px;
    text-decoration: none;

}

:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}


form {
    max-width: 750px;
    margin: auto;
}

/* Стиль для меток */
label {
    display: block;
    font-size: 16px;
    margin:15px 5px 5px 5px;
}

/* Стиль для полей ввода */
input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px #ccc;
    margin-bottom: 10px;
}
select{
    width: 103%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px #ccc;
    margin-bottom: 10px;
}

/* Стиль для fieldset и legend */
fieldset {
    border-color: grey;
    border-width: thin;
}

legend {
    padding-left :10px ;
    padding-right :10px ;
}
.containerCreateForm{
    min-height: 450px;
}
button{
    display: flex;
    justify-content: center;
    background: #3D90D9;
    border-radius: 10px;
    color: #F2EDE9;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #337FED 1px;
    cursor: pointer;
    text-align: center;
    width: 200px;
    margin: 30px;
}
button:hover{
    border: solid #337FED 1px;
    background: #1E62D0;
    border-radius: 10px;
    text-decoration: none;

}
.marquee-container {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
}

.marquee-text {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
    margin-top: 300px;
}

.marquee-style {
    width: 100%;
}
.step-container{
    margin: 100px 0 0 0;
}
.button-nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.addButton{
    display: flex;
    justify-content: center;
    background: whitesmoke;
    border-radius: 10px;
    color: #030303;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    border: solid #337FED 1px;
    cursor: pointer;
    text-align: center;
    width: 200px;
    margin: 30px;

}
.addButton:hover{
    border: solid #D9A441 1px;
    background: #ffdfc9;
    border-radius: 10px;
    text-decoration: none;

}
.createProjectButton{
    background-color: #26D11D;
    padding: 20px 20px 20px 20px;
    border: solid #4EAE31 1px;
    margin-bottom: 5px;
}
.createProjectButton:hover{
    background-color:#21B419;
    border: solid #4EAE31 1px;
}


/*не добавлять стили так как зависят все кнопки*/
.createProjectButtonWrapper{
    display: flex;
    justify-content: center;
}
