.logoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #BC6E64;
    height: 100px;
    color: #f2ede9;
    width: 100%;
    font-size: 24px;
    font-family: "Square", sans-serif;
}

.header-container img {
    width: 110px;
    height: auto;
}
.profile-button{
    margin-right: 60px;
}
.header-Wrapper{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}
@media only screen and (max-width: 915px) {

    .header-container{
        font-size: 16px;

    }
    .profile-button{

    }
    .header-Wrapper{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: flex-end;
    }
    .header{
        margin-bottom: 5px;
    }
}
