.logoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #BC6E64;
    height: 100px;
    color: #f2ede9;
}

.header-container img {
    width: 110px;
    height: auto;
}
