.container {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.container .div {
    width: 1920px;
    height: 1px;
    position: relative;
}

.container .overlap {
    width: 1920px;
    height: 2369px;
    top: 189px;
    left: 0;
}

.container .iframe-body-header {
    height: 706px;
    top: 0;
    background-color: #252b348a;
    background-image: url(../img/iframe-body-header.jpg);
    color: rgba(255, 255, 0, 0.8);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    width: 1920px;
    left: 0;
}

.container .text-wrapper {
    position: absolute;
    width: 231px;
    height: 22px;
    top: 210px;
    left: 260px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #fff9f3;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .p {
    position: absolute;
    width: 472px;
    height: 131px;
    top: 200px;
    left: 260px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 54px;
    letter-spacing: 0;
    line-height: normal;
}

.container .link {
    position: absolute;
    width: 250px;
    height: 50px;
    top: 407px;
    left: 240px;
    border-radius: 50px;
}

.container .text-wrapper-2 {
    width: 208px;
    height: 18px;
    top: 15px;
    left: 21px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 50px;
    white-space: nowrap;
}

.container .div-wrapper {
    position: absolute;
    width: 260px;
    height: 50px;
    top: 407px;
    left: 490px;
    border-radius: 50px;
}

.container .text-wrapper-3 {

    width: 208px;
    height: 18px;
    top: 15px;
    left: 26px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #4c5a70;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 50px;
    white-space: nowrap;
}

.container .heading {
    width: 43px;
    left: 300px;
    position: absolute;
    height: 39px;
    top: 532px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #fff9f3;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.container .heading-offline {
    position: absolute;
    width: 148px;
    height: 22px;
    top: 542px;
    left: 353px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .text-wrapper-4 {
    position: absolute;
    width: 250px;
    height: 80px;
    top: 560px;
    left: 300px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #fff9f3;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
}

.container .heading-2 {
    width: 50px;
    left: 730px;
    position: absolute;
    height: 39px;
    top: 532px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #fff9f3;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.container .heading-hands-on {
    position: absolute;
    width: 185px;
    height: 22px;
    top: 542px;
    left: 789px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .text-wrapper-5 {
    position: absolute;
    width: 250px;
    height: 80px;
    top: 560px;
    left: 730px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #fff9f3;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
}

.container .heading-3 {
    width: 49px;
    left: 1160px;
    position: absolute;
    height: 39px;
    top: 532px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #fff9f3;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.container .heading-career {
    position: absolute;
    width: 137px;
    height: 22px;
    top: 542px;
    left: 1219px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .text-wrapper-6 {
    position: absolute;
    width: 250px;
    height: 80px;
    top: 560px;
    left: 1160px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #fff9f3;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
}

.container .image {
    width: 100px;
    height: 100px;
    top: 10px;
    left: 234px;
    position: absolute;
    object-fit: cover;
}

.container .iframe-body-section {
    height: 820px;
    top: 705px;
    background-color: #f3f6ff;
    position: absolute;
    width: 1920px;
    left: 0;
}

.container .div-lazyload-mask {
    position: absolute;
    width: 320px;
    height: 320px;
    top: 80px;
    left: 890px;
}

.container .img {
    position: absolute;
    width: 320px;
    height: 320px;
    top: 80px;
    left: 1230px;
}

.container .div-ctastyled {
    height: 438px;
    top: 191px;
    left: 360px;
    position: absolute;
    width: 460px;
}

.container .heading-4 {
    position: absolute;
    width: 460px;
    height: 52px;
    top: 0;
    left: 0;
}

.container .text-wrapper-7 {
    position: absolute;
    width: 336px;
    height: 52px;
    top: -1px;
    left: 0;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #252b34;
    font-size: 42px;
    letter-spacing: 0;
    line-height: normal;
}

.container .overlap-group {
    width: 460px;
    height: 386px;
    top: 52px;
    position: absolute;
    left: 0;
}

.container .p-ctastyled {
    position: absolute;
    width: 460px;
    height: 70px;
    top: 0;
    left: 0;
}

.container .text-wrapper-8 {
    position: absolute;
    width: 427px;
    height: 47px;
    top: 20px;
    left: 0;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
}

.container .div-2 {
    height: 276px;
    top: 50px;
    left: 0;
    position: absolute;
    width: 460px;
}

.container .SVG {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 51px;
    left: 0;
    object-fit: cover;
}

.container .text-wrapper-9 {
    position: absolute;
    width: 369px;
    height: 22px;
    top: 50px;
    left: 40px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .SVG-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 96px;
    left: 0;
    object-fit: cover;
}

.container .text-wrapper-10 {
    position: absolute;
    width: 407px;
    height: 22px;
    top: 95px;
    left: 40px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .SVG-3 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 141px;
    left: 0;
    object-fit: cover;
}

.container .text-wrapper-11 {
    position: absolute;
    width: 410px;
    height: 22px;
    top: 140px;
    left: 40px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .SVG-4 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 186px;
    left: 0;
    object-fit: cover;
}

.container .text-wrapper-12 {
    position: absolute;
    width: 404px;
    height: 22px;
    top: 186px;
    left: 40px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .SVG-5 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 231px;
    left: 0;
    object-fit: cover;
}

.container .practical-marketing {
    position: absolute;
    width: 413px;
    height: 22px;
    top: 231px;
    left: 40px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .div-buttons-block {
    position: absolute;
    width: 460px;
    height: 80px;
    top: 306px;
    left: 0;
}

.container .link-2 {
    position: relative;
    width: 155px;
    height: 50px;
    top: 30px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 4px 10px #3382d180;
    background: linear-gradient(180deg, rgb(102, 186, 241) 0%, rgb(51, 130, 209) 96%);
}

.container .text-wrapper-13 {
    position: absolute;
    width: 75px;
    height: 18px;
    top: 15px;
    left: 40px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 50px;
    white-space: nowrap;
}

.container .image-2 {
    width: 320px;
    height: 320px;
    top: 419px;
    left: 890px;
    position: absolute;
    object-fit: cover;
}

.container .image-3 {
    width: 320px;
    height: 320px;
    top: 419px;
    left: 1230px;
    position: absolute;
    object-fit: cover;
}

.container .div-teamstyled-wrapper {
    height: 845px;
    top: 1524px;
    background-color: #ffffff;
    position: absolute;
    width: 1920px;
    left: 0;
}

.container .div-teamstyled {
    position: relative;
    width: 1400px;
    height: 685px;
    top: 80px;
    left: 260px;
}

.container .heading-5 {
    position: absolute;
    width: 1400px;
    height: 52px;
    top: 0;
    left: 0;
}

.container .text-wrapper-14 {
    position: absolute;
    width: 541px;
    height: 52px;
    top: -1px;
    left: 429px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #252b34;
    font-size: 42px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.container .div-3 {
    position: absolute;
    width: 400px;
    height: 583px;
    top: 102px;
    left: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 9px 22px #252b341f;
    display: flex;
    justify-content: center;
}

.container .heading-6 {
    position: absolute;
    width: 340px;
    height: 24px;
    top: 200px;
    left: 30px;
}

.container .text-wrapper-15 {
    position: absolute;
    width: 160px;
    height: 24px;
    top: -1px;
    left: 90px;
    font-family: "Montserrat-ExtraBold", Helvetica;
    font-weight: 800;
    color: #252b34;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.container .heading-7 {
    position: absolute;
    width: 340px;
    height: 18px;
    top: 234px;
    left: 30px;
}

.container .text-wrapper-16 {
    position: absolute;
    width: 173px;
    height: 18px;
    top: -1px;
    left: 84px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.container .p-teamstyled {
    position: absolute;
    width: 340px;
    height: 179px;
    top: 300px;
    left: 30px;
}

.container .rebecca-is-a-digital {
    width: 339px;
    height: 176px;
    top: 0;
    left: 1px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 16px;
    line-height: 22.4px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
}

.container .div-4 {
    width: 300px;
    height:300px;
    top: 481px;
    left: 47px;
}

.container .div-5 {
    left: 500px;
    position: absolute;
    width: 400px;
    height: 583px;
    top: 102px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 9px 22px #252b341f;
    display: flex;
    justify-content: center;
}

.container .text-wrapper-17 {
    width: 148px;
    height: 24px;
    top: -1px;
    left: 96px;
    font-family: "Montserrat-ExtraBold", Helvetica;
    font-weight: 800;
    color: #252b34;
    font-size: 20px;
    line-height: normal;
    white-space: nowrap;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
}

.container .text-wrapper-18 {
    position: absolute;
    width: 141px;
    height: 18px;
    top: -1px;
    left: 100px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.container .peter-is-a-digital {
    width: 340px;
    height: 176px;
    top: 0;
    left: 0;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 16px;
    line-height: 22.4px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
}

.container .div-6 {
    left: 960px;
    position: absolute;
    width: 400px;
    height: 583px;
    top: 102px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 9px 22px #252b341f;
    display: flex;
    justify-content: center;
}

.container .text-wrapper-19 {
    width: 139px;
    height: 24px;
    top: -1px;
    left: 101px;
    font-family: "Montserrat-ExtraBold", Helvetica;
    font-weight: 800;
    color: #252b34;
    font-size: 20px;
    line-height: normal;
    white-space: nowrap;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
}

.container .text-wrapper-20 {
    position: absolute;
    width: 171px;
    height: 18px;
    top: -1px;
    left: 85px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.container .ana-specializes-in {
    width: 338px;
    height: 176px;
    top: 0;
    left: 1px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 16px;
    line-height: 22.4px;
    position: absolute;
    text-align: center;
    letter-spacing: 0;
}

.container .heading-8 {
    position: absolute;
    width: 1400px;
    height: 52px;
    top: 2637px;
    left: 260px;
}

.container .text-wrapper-21 {
    position: absolute;
    width: 605px;
    height: 52px;
    top: -1px;
    left: 398px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #252b34;
    font-size: 42px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.container .div-7 {
    position: absolute;
    width: 56px;
    height: 60px;
    top: 3052px;
    left: 274px;
}

.container .article {
    position: absolute;
    width: 1160px;
    height: 580px;
    top: 2781px;
    left: 380px;
    background-color: #ffffff01;
    border-radius: 10px;
    box-shadow: 0px 9px 22px #252b341f;
}

.container .div-poststyled {
    position: absolute;
    width: 580px;
    height: 580px;
    top: 0;
    left: 580px;
    background-color: #ffffff;
    border-radius: 0px 10px 10px 0px;
}

.container .heading-9 {
    width: 510px;
    top: 119px;
    left: 40px;
    position: absolute;
    height: 24px;
}

.container .text-wrapper-22 {
    position: absolute;
    width: 300px;
    height: 80px;
    top: -57px;
    left: 0;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #252b34;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.container .we-want-to-create-a {
    position: absolute;
    width: 509px;
    height: 300px;
    top: 157px;
    left: 40px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 400;
    color: #4c5a70;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22.4px;
}

.container .span {
    font-weight: 300;
}

.container .text-wrapper-23 {
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
}

.container .overlap-group-wrapper {
    position: absolute;
    width: 76px;
    height: 24px;
    top: 485px;
    left: 40px;
}

.container .overlap-group-2 {
    position: relative;
    width: 86px;
    height: 24px;
}

.container .text-wrapper-24 {
    position: absolute;
    width: 68px;
    height: 19px;
    top: 2px;
    left: 0;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #3382d1;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.container .div-arrow-right {
    position: absolute;
    width: 29px;
    height: 24px;
    top: 0;
    left: 57px;
}

.container .image-4 {
    width: 580px;
    height: 580px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.container .div-8 {
    position: absolute;
    width: 56px;
    height: 60px;
    top: 3052px;
    left: 1590px;
}

.container .button {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 3392px;
    left: 925px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px #3382d180;
    background: linear-gradient(180deg, rgb(102, 186, 241) 0%, rgb(51, 130, 209) 96%);
}

.container .button-2 {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 3392px;
    left: 945px;
    background-color: #a8b6de80;
    border-radius: 5px;
}

.container .button-3 {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 3392px;
    left: 965px;
    background-color: #a8b6de80;
    border-radius: 5px;
}

.container .button-4 {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 3392px;
    left: 985px;
    background-color: #a8b6de80;
    border-radius: 5px;
}

.container .p-poststyled {
    position: absolute;
    width: 1400px;
    height: 42px;
    top: 2689px;
    left: 260px;
}

.container .text-wrapper-25 {
    position: absolute;
    width: 1149px;
    height: 22px;
    top: 18px;
    left: 126px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 21.6px;
    white-space: nowrap;
}

.container .overlap-2 {
    width: 1920px;
    height: 1084px;
    top: 3489px;
    position: absolute;
    left: 0;
}

.container .iframe-body-section-2 {
    height: 463px;
    top: 0;
    background-color: #ffffff;
    position: absolute;
    width: 1920px;
    left: 0;
}

.container .div-textstyled {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 250px;
    position: absolute;
    top: 80px;
    left: 260px;
}

.container .heading-10 {
    position: relative;
    width: 900px;
    height: 39px;
}

.container .text-wrapper-26 {
    position: absolute;
    width: 368px;
    height: 39px;
    top: -1px;
    left: 266px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #252b34;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.container .heading-submission {
    width: 122px;
    top: 110px;
    left: 170px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #3382d1;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    position: absolute;
    height: 24px;
}

.container .text-wrapper-27 {
    position: absolute;
    width: 279px;
    height: 75px;
    top: 150px;
    left: 170px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
}

.container .heading-interview {
    width: 100px;
    top: 110px;
    left: 550px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #3382d1;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    position: absolute;
    height: 24px;
}

.container .text-wrapper-28 {
    position: absolute;
    width: 294px;
    height: 75px;
    top: 150px;
    left: 550px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
}

.container .after {
    position: absolute;
    width: 1px;
    height: 194px;
    top: 109px;
    left: 510px;
    background-color: #4c5a70;
}

.container .after-2 {
    top: 109px;
    left: 134px;
    position: absolute;
    width: 1px;
    height: 194px;
    background-color: #4c5a70;
}

.container .heading-11 {
    width: 139px;
    top: 110px;
    left: 930px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #3382d1;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    position: absolute;
    height: 24px;
}

.container .text-wrapper-29 {
    position: absolute;
    width: 307px;
    height: 230px;
    top: 140px;
    left: 930px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
}

.container .after-3 {
    top: 109px;
    left: 890px;
    position: absolute;
    width: 1px;
    height: 194px;
    background-color: #4c5a70;
}

.container .heading-12 {
    position: absolute;
    width: 186px;
    height: 24px;
    top: 190px;
    left: 1570px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #3382d1;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.container .text-wrapper-30 {
    position: absolute;
    width: 296px;
    height: 75px;
    top: 230px;
    left: 1570px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
}

.container .after-4 {
    top: 189px;
    left: 1530px;
    position: absolute;
    width: 1px;
    height: 194px;
    background-color: #4c5a70;
}

.container .heading-submission-2 {
    position: absolute;
    width: 150px;
    height: 24px;
    top: 190px;
    left: 110px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #3382d1;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.container .text-wrapper-31 {
    position: absolute;
    width: 279px;
    height: 125px;
    top: 230px;
    left: 110px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
}

.container .iframe-body-section-3 {
    height: 621px;
    top: 463px;
    background-color: #fff9f3;
    position: absolute;
    width: 1920px;
    left: 0;
}

.container .heading-13 {
    position: absolute;
    width: 1200px;
    height: 66px;
    top: 80px;
    left: 360px;
}

.container .text-wrapper-32 {
    position: absolute;
    width: 619px;
    height: 66px;
    top: -1px;
    left: 290px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #3382d1;
    font-size: 54px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.container .div-9 {
    position: absolute;
    width: 1920px;
    height: 385px;
    top: 156px;
    left: 0;
}

.container .div-slick-list {
    position: absolute;
    width: 1378px;
    height: 385px;
    top: 0;
    left: 271px;
}

.container .div-WM-GLOBAL {
    position: absolute;
    width: 433px;
    height: 317px;
    top: 58px;
    left: 16px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #f5f7ff;
    box-shadow: 0px 6px 10px #94949433;
    opacity: 0.7;
}

.container .SVG-6 {
    position: absolute;
    width: 44px;
    height: 34px;
    top: -18px;
    left: 29px;
}

.container .div-10 {
    position: absolute;
    width: 374px;
    height: 57px;
    top: 34px;
    left: 29px;
}

.container .figure {
    position: absolute;
    width: 57px;
    height: 57px;
    top: 0;
    left: 0;
    border-radius: 28.5px;
    background-image: url(../img/b645d31dbcdb5c18cc3ed13f6de6b0bd-jpg.png);
    background-size: cover;
    background-position: 50% 50%;
}

.container .div-11 {
    position: absolute;
    width: 298px;
    height: 28px;
    top: 15px;
    left: 76px;
}

.container .heading-joselyn {
    position: absolute;
    width: 167px;
    height: 23px;
    top: -1px;
    left: 0;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #252b34;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.container .p-2 {
    position: absolute;
    width: 374px;
    height: 168px;
    top: 110px;
    left: 29px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #3382d1;
}

.container .i-couldn-t-be {
    position: absolute;
    width: 361px;
    height: 21px;
    top: 0;
    left: 0;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 17.1px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .text-wrapper-33 {
    position: absolute;
    width: 361px;
    height: 21px;
    top: 24px;
    left: 0;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 17.1px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .text-wrapper-34 {
    position: absolute;
    width: 332px;
    height: 21px;
    top: 48px;
    left: 0;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 17.1px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .knowledgeable-i-m-so {
    position: absolute;
    width: 325px;
    height: 21px;
    top: 72px;
    left: 0;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 17.1px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .text-wrapper-35 {
    position: absolute;
    width: 172px;
    height: 21px;
    top: 96px;
    left: 0;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 17.1px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .div-WM-GLOBAL-2 {
    width: 446px;
    height: 334px;
    top: 50px;
    left: 466px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #f5f7ff;
    box-shadow: 0px 6px 10px #94949433;
}

.container .SVG-7 {
    position: absolute;
    width: 46px;
    height: 36px;
    top: -19px;
    left: 31px;
}

.container .div-12 {
    position: absolute;
    width: 384px;
    height: 60px;
    top: 36px;
    left: 31px;
}

.container .figure-2 {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-image: url(../img/c4ac7067c527f6747e7a27514e4a0c58-jpg.png);
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
}

.container .heading-andrew-wrapper {
    position: absolute;
    width: 304px;
    height: 29px;
    top: 16px;
    left: 80px;
}

.container .heading-andrew {
    position: absolute;
    width: 149px;
    height: 24px;
    top: -1px;
    left: 0;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #252b34;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.container .i-had-been-wanting-wrapper {
    position: absolute;
    width: 384px;
    height: 177px;
    top: 116px;
    left: 31px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #3382d1;
}

.container .i-had-been-wanting {
    position: absolute;
    width: 376px;
    height: 123px;
    top: 0;
    left: 0;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
}

.container .div-WM-GLOBAL-3 {
    width: 433px;
    height: 317px;
    top: 58px;
    left: 928px;
    opacity: 0.7;
    position: absolute;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #f5f7ff;
    box-shadow: 0px 6px 10px #94949433;
}

.container .figure-3 {
    width: 57px;
    height: 57px;
    border-radius: 28.5px;
    background-image: url(../img/78fc93b91c5886fb4ea40c117c83496b-jpg.png);
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
}

.container .heading-mary {
    position: absolute;
    width: 137px;
    height: 23px;
    top: -1px;
    left: 0;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #252b34;
    font-size: 19px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.container .text-wrapper-36 {
    position: absolute;
    width: 353px;
    height: 21px;
    top: 0;
    left: 0;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 17.1px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .text-wrapper-37 {
    position: absolute;
    width: 336px;
    height: 21px;
    top: 24px;
    left: 0;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 17.1px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .text-wrapper-38 {
    position: absolute;
    width: 373px;
    height: 21px;
    top: 48px;
    left: 0;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 17.1px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .text-wrapper-39 {
    position: absolute;
    width: 308px;
    height: 21px;
    top: 72px;
    left: 0;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 17.1px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .text-wrapper-40 {
    position: absolute;
    width: 263px;
    height: 21px;
    top: 96px;
    left: 0;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 17.1px;
    letter-spacing: 0;
    line-height: 25.2px;
    white-space: nowrap;
}

.container .button-5 {
    position: absolute;
    width: 56px;
    height: 56px;
    top: 193px;
    left: 203px;
}

.container .button-6 {
    position: absolute;
    width: 56px;
    height: 56px;
    top: 193px;
    left: 1661px;
}

.container .iframe-body-footer {
    height: 305px;
    top: 4573px;
    background-color: #252b34;
    position: absolute;
    width: 1920px;
    left: 0;
}

.container .div-footerstyled {
    position: absolute;
    width: 1400px;
    height: 119px;
    top: 50px;
    left: 260px;
}

.container .div-13 {
    position: relative;
    width: 560px;
    height: 119px;
    left: 420px;
}

.container .label {
    position: absolute;
    width: 560px;
    height: 39px;
    top: 0;
    left: 0;
}

.container .text-wrapper-41 {
    position: absolute;
    width: 376px;
    height: 39px;
    top: -1px;
    left: 92px;
    font-family: "Montserrat-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.container .form-wrapper {
    position: absolute;
    width: 560px;
    height: 50px;
    top: 69px;
    left: 0;
}

.container .form {
    position: relative;
    width: 400px;
    height: 50px;
    left: 59px;
}

.container .overlap-group-3 {
    position: relative;
    width: 510px;
    height: 50px;
    left: -34px;
}

.container .input-email-input {
    position: absolute;
    width: 400px;
    height: 50px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 50px;
    border: 1px solid;
    border-color: #252b344c;
}

.container .div-placeholder {
    position: relative;
    width: 323px;
    height: 19px;
    top: 16px;
    left: 31px;
}

.container .text-wrapper-42 {
    position: absolute;
    width: 131px;
    height: 19px;
    top: -1px;
    left: 0;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #4c5a70;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.container .button-7 {
    position: absolute;
    width: 152px;
    height: 50px;
    top: 0;
    left: 358px;
    border-radius: 50px;
    overflow: hidden;
    background: linear-gradient(180deg, rgb(102, 186, 241) 0%, rgb(51, 130, 209) 96%);
    all: unset;
    box-sizing: border-box;
}

.container .text-wrapper-43 {
    position: absolute;
    width: 73px;
    height: 18px;
    top: 15px;
    left: 40px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 50px;
    white-space: nowrap;
}

.container .div-wmcontainer-sc {
    position: absolute;
    width: 1400px;
    height: 86px;
    top: 169px;
    left: 260px;
}

.container .div-styled {
    position: absolute;
    width: 1920px;
    height: 74px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 6px 12px #0052e01a;
}

.container .div-styled-2 {
    position: absolute;
    width: 620px;
    height: 18px;
    top: 28px;
    left: 20px;
}

.container .overlap-group-4 {
    position: relative;
    width: 56px;
    height: 18px;
}

.container .button-8 {
    position: absolute;
    width: 56px;
    height: 18px;
    top: 0;
    left: 0;
    all: unset;
    box-sizing: border-box;
}

.container .text-wrapper-44 {
    position: absolute;
    width: 36px;
    height: 18px;
    top: -1px;
    left: 20px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #545f7e;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.container .button-SVG {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 1px;
    left: 0;
}

.container .div-styled-devices {
    position: absolute;
    width: 620px;
    height: 54px;
    top: 10px;
    left: 650px;
    object-fit: cover;
}

.container .div-styled-3 {
    position: absolute;
    width: 620px;
    height: 39px;
    top: 18px;
    left: 1280px;
}

.container .button-9 {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 0;
    left: 458px;
}

.container .button-10 {
    position: absolute;
    width: 94px;
    height: 38px;
    top: 0;
    left: 512px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgb(86, 144, 255) 0%, rgb(56, 125, 255) 100%);
    all: unset;
    box-sizing: border-box;
}

.container .text-wrapper-45 {
    position: absolute;
    width: 34px;
    height: 18px;
    top: 9px;
    left: 30px;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.container .text-wrapper-46 {
    position: absolute;
    width: 63px;
    height: 19px;
    top: 55px;
    left: 1316px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.container .text-wrapper-47 {
    position: absolute;
    width: 66px;
    height: 19px;
    top: 108px;
    left: 1399px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.container .text-wrapper-48 {
    position: absolute;
    width: 86px;
    height: 19px;
    top: 108px;
    left: 1484px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.container .text-wrapper-49 {
    position: absolute;
    width: 71px;
    height: 19px;
    top: 108px;
    left: 1590px;
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}
.logoContainer{
display: flex;
    color: rgb(37, 43, 52);
    background-color: rgba(255, 249, 243, 0.33);
}
.logo-text {
    font-size: 100px;
    margin: 0 auto;
}
.profile-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #252b34;
    background-color: #E0EFF9;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.profile-button:hover {
    background-color: #3991CC;
}

