@import 'owl.carousel.css';
@import "header.css";
.project-container {
    width: max(100% - 15px, 1024px);
    margin-inline: auto;
    font-family: "Square", sans-serif;
    font-size: 20px;
    text-decoration: none;
}

:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}



/*@media only screen and (min-width: 993px) {}*/
body {
    /*background-color: lightpink;*/
    margin: 2px;
}

.container {
    width: 100%;
    margin-inline: auto;
    font-family: "Square", sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.rounded {
    border-radius: 10px;
}

.project-container-inf {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.project-section-img {
    max-width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.project-section-img img {
    max-width: 90%;
    height: auto;
}

.project-inf {
    display: flex;
    align-items: center;

    text-align: justify;
    margin: 10px 0 0 30px;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.project-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.project-link img {
    max-width: 64px;
    height: auto;
}


.project-button {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: stretch;

}


.status-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.delete-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.delete-button button {

    background: #d93d3d;
    border: solid #ed3333 1px;
}

.inputPercentage {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

input[type=range] {
    -webkit-appearance: none;
    width: 60%;
    height: 20px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    margin-left: 25px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 60%;
    background: #337FED;

}

.project-payment {
    display: flex;
}

input[type=number] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.faq-container {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.faq-container .faq-title {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
}

.faq-container .faq-description {
    margin-bottom: 20px;
    color: #7f8c8d;
}

.faq-container .faq-section-title {
    font-size: 20px;
    font-weight: bold;
    color: #2c3e50;
    margin-top: 20px;
}

.faq-container .faq-question {
    font-weight: bold;
    margin-top: 10px;
    font-size: 24px;
    color: #2c3e50;
}

.faq-container .faq-answer {
    margin-top: 10px;
}

button {
    display: flex;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin: 5px;
    width: 15%;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    background-color: #337FED;
    border: solid #337FED 1px;
    color: white;

}

.comment-section {
    width: 80%;
    margin: auto;
}

.comment-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.comment-input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}



.comments-list {
    list-style-type: none;
    padding: 0;
}

.comment-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.user-name {
    font-weight: bold;
}

.comment-date {
    font-size: 0.8em;
    color: #777;
}

.comment-body {
    margin-top: 10px;
}
.owl-stage-outer {
    margin: 35px 50px 25px 0;
}
.selection-faq-comment{
    display: flex;
    flex-direction: column;
    align-items: center;
}
