.project-container{
    width: max(100% - 15px, 1024px);
    margin-inline: auto;
    font-family: "Square", sans-serif;
    font-size: 20px;
    text-decoration: none;
}
:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
.logoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #BC6E64;
    height: 100px;
    color: #f2ede9;
}

.header-container img {
    width: 110px;
    height: auto;
}
.page-project-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 400px;
}
.page-project-text{
    width: 30%;
}

.page-project-img img{

}
.page-project-comment{
    width: 30%;
}
.title-project{
    font-size: large;
    display: flex;
    justify-content: center;
}
.slider {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.slide {
    width: auto;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-size: cover;
    background-position: center;
    animation: slide 10s infinite;
}


@keyframes slide {
    0% { opacity: 0; }
    20% { opacity: 1; }
    33% { opacity: 1; }
    53% { opacity: 0; }
    100% { opacity: 0; }
}



