
.projectCardContainer {
    background-color : transparent;
    display : flex;
    flex-wrap : wrap;
    justify-content : center;
    width : 100%;
}
.iframe-body-section {
    width : 400px;
    height : 583px;
    background-color : #ffffff;
    margin : 10px;
}
.iframe-body-section .div {
    width : 100%;
    height : 100%;
}
.heading{
    font-size: 34px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
.iframe-body-section .heading {
    width : 100%;
    height : 52px;
}
.iframe-body-section .text-wrapper {
    width : 100%;
    height : 52px;
    font-family : "Montserrat-Bold", Helvetica;
    font-weight : 700;
    color : #252b34;
    font-size : 42px;
    text-align : center;
    letter-spacing : 0;
    line-height : normal;
}
.iframe-body-section .div-teamstyled {
    width : 100%;

    display : flex;
    flex-direction : column;
    justify-content : space-between;
    padding : 20px;
}
.iframe-body-section .div-wrapper {
    width : 100%;

}
.iframe-body-section .text-wrapper-2 {
    font-size : 24px;
    font-weight : bold;
    margin-top : 20px;
    margin-bottom : 10px;
}
.iframe-body-section .heading-2 {
    font-size : 18px;
    font-weight : bold;
    margin-top : 20px;
    margin-bottom : 10px;
}
.iframe-body-section .text-wrapper-3 {
    font-size : 16px;
    font-weight : normal;
    margin-top : 10px;
    margin-bottom : 10px;
}
.iframe-body-section .p {
    margin-top : 10px;
    margin-bottom : 10px;
}
.iframe-body-section .img {

    max-height : 320px;
    margin-top : 10px;
    margin-bottom : 10px;
}
.iframe-body-section button {
    background-color : #252b34;
    color : #ffffff;
    border : none;
    padding : 10px 20px;
    font-size : 16px;
    font-weight : bold;
    margin-top : 10px;
    margin-bottom : 10px;
    cursor : pointer;
}
.iframe-body-section button:hover {
    background-color : #ffffff;
    color : #252b34;
    border : #252b34 solid 2px;
}

