@import "header.css";
@import "footer.css";
.all-project-container{
    width: max(100% - 15px, 1024px);
    margin-inline: auto;
    font-family: "Square", sans-serif;
    font-size: 20px;
    text-decoration: none;
}
:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.projectCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 500px;
}
.show-best-wrapper {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.show-best {
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: auto;
    width: 420px;
    margin: 25px;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 38px -7px rgba(148, 148, 148, 1);
    -moz-box-shadow: 0px 0px 38px -7px rgba(148, 148, 148, 1);
    box-shadow: 0px 0px 38px -7px rgba(148, 148, 148, 1);
    text-align: justify;
    border-radius: 10px;
}

.show-best img {
    width: 350px;
    height: 350px;
    margin: 10px;

}
button {
    display: flex;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin: 5px;
    min-width: 200px;
    max-width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #337FED;
    color: white;
    border: solid #337FED 1px;
}

button:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    text-decoration: none;

}
.pagination{
    max-width: 100px;
    display: flex;
    justify-content: space-around;
    font-family: "Square", sans-serif;
    font-size: 20px;
}
.pagination a {
    text-decoration: underline;
}
.filter-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}


.dropdown {
    margin: 10px 0;
}
.filterProjects{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
}
input[type=range] {

    width: 105%;

}

input[type=number] {
    width: 50%;
    height: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
select{

    height: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
.input-wrapper{
    display: flex;

}
@media only screen and (max-width: 915px) {
    .all-project-container{
        width: max(100% - 15px, 700px);
        margin-inline: auto;
        font-family: "Square", sans-serif;
        font-size: 20px;
        text-decoration: none;
    }

}


