.all-project-containe{
    width: max(100% - 15px, 1024px);
    margin-inline: auto;
    font-family: "Square", sans-serif;
    font-size: 20px;
    text-decoration: none;
}
:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
.logoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #BC6E64;
    height: 100px;
    color: #f2ede9;
}

.header-container img {
    width: 110px;
    height: auto;
}
.projectCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.show-best-wrapper {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.show-best {
    display: flex;
    flex-direction: column;
    padding: 50px;
    height: auto;
    width: 420px;
    margin: 25px;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 38px -7px rgba(148, 148, 148, 1);
    -moz-box-shadow: 0px 0px 38px -7px rgba(148, 148, 148, 1);
    box-shadow: 0px 0px 38px -7px rgba(148, 148, 148, 1);
    text-align: justify;
    border-radius: 10px;
}

.show-best img {
    width: 350px;
    height: 350px;
    margin: 10px;

}
button {
    background: #3D90D9;
    border-radius: 20px;
    color: #F2EDE9;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #337FED 1px;
    cursor: pointer;
    text-align: center;
    width: 200px;
    margin: 4px;
    text-decoration: none;
}

button:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    border-radius: 20px;
    text-decoration: none;

}
.pagination{
    max-width: 100px;
    display: flex;
    justify-content: space-around;
    font-family: "Square", sans-serif;
    font-size: 20px;
}
.pagination a {
    text-decoration: underline;
}

